
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

header{
  height: 50vh;
  background-image: url(./shrek.jpg);
  background-repeat: no-repeat;
  background-size:  60vh;
  width: 100vh;
  background-color: black;
}